In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame
from pandas import Series
from netCDF4 import Dataset
from netCDF4 import num2date
import datetime
import os
import sys
import os.path
import glob

In [2]:
# Reading in model output files, from three different applications, fabm0d, gotm1d and gotmlake
output_dir= os.path.normpath(os.getcwd() + os.sep + os.pardir+"/output")
# fabm0d files
fabm0d=[]
for f in glob.glob("*fabm0d*.nc"):
    fabm0d.append(f)
# gotm1d files
gotm1d=[]
for f in glob.glob("*gotm1d*.nc"):
    gotm1d.append(f)
# gotm-lake files
gotmlake=[]
for f in glob.glob("*gotmlake*.nc"):
    gotmlake.append(f)

In [35]:
# Read in gotm1d data, store in nc Dataset form
# Read in gotm1d_2m
df_gotm1d={}
for f in gotm1d:
    path=os.path.join(output_dir, f)
    gotm1d_nc=Dataset(path, mode='r')
    time        = gotm1d_nc.variables['time']
    units       = gotm1d_nc.variables['time'].units
    valid_times = num2date(time[:], units=units).tolist()
    i=0
    time=valid_times[:]
    temperature=[]
    PAR=[]
    Oxygen=[]
    TP=[]
    TN=[]
    Phyto=[]
    Zoo=[]
    Fish=[] 
    Veg=[]
    Ben=[]
    for t in time:
        temperature.append(np.mean(gotm1d_nc.variables['temp'][i,:,0,0]))
        Oxygen.append(np.mean(gotm1d_nc.variables['abiotic_water_sO2W'][i,:,0,0]))
        TP.append(np.mean(gotm1d_nc.variables['pclake_totP_calculator_result'][i,:,0,0]))
        TN.append(np.mean(gotm1d_nc.variables['pclake_totN_calculator_result'][i,:,0,0]))
        Phyto.append(np.mean(gotm1d_nc.variables['phytoplankton_water_aDPhytW'][i,:,0,0]))
        Zoo.append(np.mean(gotm1d_nc.variables['foodweb_water_sDZoo'][i,:,0,0]))
        Fish.append(np.mean(gotm1d_nc.variables['foodweb_water_sDFiAd'][i,:,0,0])+
                    np.mean(gotm1d_nc.variables['foodweb_water_sDFiJv'][i,:,0,0]))
        if f[-6:-5]=='2m':
            lvl=4
            print lvl
            PAR.append(gotm1d_nc.variables['rad'][i,lvl,0,0])
        elif f[-6:-5]=='5m':
            lvl=12
            print lvl
            PAR.append(gotm1d_nc.variables['rad'][i,lvl,0,0])
        elif f[-6:-5]=='10m':
            lvl=24
            print lvl
            PAR.append(gotm1d_nc.variables['rad'][i,lvl,0,0])
        elif f[-6:-5]=='20m':
            lvl=49
            print lvl
            PAR.append(gotm1d_nc.variables['rad'][i,lvl,0,0])
        Veg.append(gotm1d_nc.variables['macrophytes_sDVeg'][i,0,0])
        Ben.append(gotm1d_nc.variables['foodweb_sediment_sDBent'][i,0,0])
        i=i+1
    temp=DataFrame(temperature,index=time,columns=['temp'],)
    PAR=DataFrame(PAR,index=time,columns=['PAR'])
    O2=DataFrame(Oxygen,index=time,columns=['O2'])
    totP=DataFrame(TP,index=time,columns=['totP'])
    totN=DataFrame(TN,index=time,columns=['totN'])
    aDPhytW=DataFrame(Phyto,index=time,columns=['aDPhytW'])
    sDZoo=DataFrame(Zoo,index=time,columns=['sDZoo'])
    aDFish=DataFrame(Fish,index=time,columns=['aDFish'])
    sDVeg=DataFrame(Veg,index=time,columns=['sDVeg'])
    sDBent=DataFrame(Ben,index=time,columns=['sDBent'])
    df_gotm1d[f]=pd.concat([temp,PAR,O2,totP,totN,aDPhytW,sDZoo,aDFish,sDVeg,sDBent],axis=1)
    print f

SyntaxError: invalid syntax (<ipython-input-35-a8fd22b15ff3>, line 41)

In [34]:
df_gotm1d['pclake-gotm1d-10m.nc']

,temp,PAR,O2,totP,totN,aDPhytW,sDZoo,aDFish,sDVeg,sDBent
2002-01-01,2.000000,NaN,12.917400,0.078455,0.299034,0.453915,0.199642,1.620211,21.205500,2.403200
2002-01-02,1.857361,NaN,12.841842,0.080226,0.300792,0.380057,0.168310,1.611318,20.958933,2.429727
2002-01-03,1.726627,NaN,12.770722,0.081683,0.302882,0.319476,0.155151,1.602978,20.715281,2.455864
2002-01-04,1.608400,NaN,12.703207,0.082862,0.305252,0.268156,0.147310,1.595103,20.474529,2.481618
2002-01-05,1.521640,NaN,12.639004,0.083836,0.307882,0.224740,0.141734,1.587614,20.236658,2.506993
2002-01-06,1.492376,NaN,12.577682,0.084663,0.310752,0.188250,0.137299,1.580433,20.001646,2.531996
2002-01-07,1.467213,NaN,12.518883,0.085394,0.313847,0.157894,0.133500,1.573515,19.769466,2.556632
2002-01-08,1.443603,NaN,12.462293,0.086046,0.317144,0.132902,0.130077,1.566829,19.540096,2.580905
2002-01-09,1.421650,NaN,12.407624,0.086640,0.320624,0.112522,0.126885,1.560351,19.313509,2.604820
2002-01-10,1.400604,NaN,12.354619,0.087189,0.324266,0.096031,0.123839,1.554060,19.089676,2.628381
2002-01-11,1.377894,NaN,12.303064,0.087703,0.328050,0.082750,0.120890,1.547940,18.868572,2.651592
2002-01-12,1.354516,NaN,12.252774,0.088190,0.331944,0.072066,0.118006,1.541977,18.650167,2.674458
2002-01-13,1.325896,NaN,12.203604,0.088653,0.335928,0.063458,0.115170,1.536158,18.434435,2.696983
2002-01-14,1.302012,NaN,12.155430,0.089097,0.339986,0.056500,0.112371,1.530475,18.221342,2.719169
2002-01-15,1.282028,NaN,12.108150,0.089525,0.344101,0.050839,0.109602,1.524915,18.010860,2.741020
2002-01-16,1.263328,NaN,12.061687,0.089939,0.348262,0.046195,0.106860,1.519470,17.802963,2.762539
2002-01-17,1.246054,NaN,12.015975,0.090342,0.352458,0.042342,0.104142,1.514132,17.597618,2.783731
2002-01-18,1.230264,NaN,11.970963,0.090734,0.356682,0.039105,0.101449,1.508895,17.394798,2.804596
2002-01-19,1.215071,NaN,11.926614,0.091118,0.360927,0.036355,0.098781,1.503752,17.194475,2.825140
2002-01-20,1.200553,NaN,11.882891,0.091495,0.365189,0.033992,0.096139,1.498698,16.996618,2.845365
2002-01-21,1.186778,NaN,11.839762,0.091865,0.369463,0.031941,0.093524,1.493728,16.801205,2.865274
2002-01-22,1.173863,NaN,11.797208,0.092230,0.373747,0.030146,0.090938,1.488837,16.608202,2.884870
2002-01-23,1.161851,NaN,11.755204,0.092591,0.378038,0.028562,0.088383,1.484022,16.417587,2.904155
2002-01-24,1.150765,NaN,11.713731,0.092949,0.382335,0.027155,0.085861,1.479278,16.229332,2.923133
2002-01-25,1.139657,NaN,11.672770,0.093304,0.386636,0.025897,0.083374,1.474603,16.043409,2.941806
2002-01-26,1.128643,NaN,11.632308,0.093656,0.390941,0.024767,0.080925,1.469993,15.859794,2.960177
2002-01-27,1.117806,NaN,11.592328,0.094007,0.395249,0.023747,0.078514,1.465445,15.678460,2.978249
2002-01-28,1.107182,NaN,11.552818,0.094356,0.399557,0.022823,0.076144,1.460957,15.499384,2.996023
2002-01-29,1.095839,NaN,11.513766,0.094705,0.403867,0.021983,0.073816,1.456527,15.322540,3.013503
2002-01-30,1.083871,NaN,11.475156,0.095053,0.408177,0.021217,0.071532,1.452152,15.147904,3.030692
...,...,...,...,...,...,...,...,...,...,...
2021-12-03,6.393324,NaN,34.251064,0.265382,1.607893,0.081916,0.024499,0.301935,0.045775,2.800982
2021-12-04,6.209968,NaN,34.172775,0.265430,1.609218,0.078932,0.023795,0.300910,0.046148,2.818186
2021-12-05,6.027761,NaN,34.094921,0.265479,1.610554,0.076086,0.023103,0.299906,0.046521,2.835108
2021-12-06,5.846743,NaN,34.017513,0.265528,1.611898,0.073372,0.022426,0.298925,0.046893,2.851749
2021-12-07,5.666954,NaN,33.940536,0.265578,1.613251,0.070788,0.021763,0.297965,0.047264,2.868109
2021-12-08,5.488425,NaN,33.863998,0.265628,1.614612,0.068327,0.021114,0.297025,0.047635,2.884188
2021-12-09,5.311194,NaN,33.787888,0.265678,1.615981,0.065984,0.020480,0.296106,0.048006,2.899987
2021-12-10,5.135297,NaN,33.712200,0.265729,1.617357,0.063753,0.019861,0.295205,0.048375,2.915504
2021-12-11,4.960769,NaN,33.636940,0.265779,1.618741,0.061631,0.019258,0.294323,0.048744,2.930741
2021-12-12,4.787645,NaN,33.562092,0.265830,1.620130,0.059612,0.018670,0.293459,0.049113,2.945698
2021-12-13,4.615963,NaN,33.487659,0.265881,1.621526,0.057691,0.018097,0.292611,0.049480,2.960376
2021-12-14,4.445761,NaN,33.413639,0.265932,1.622928,0.055864,0.017541,0.291781,0.049847,2.974775
2021-12-15,4.277082,NaN,33.340015,0.265983,1.624336,0.054127,0.017000,0.290966,0.050214,2.988895
2021-12-16,4.109979,NaN,33.266792,0.266035,1.625748,0.052476,0.016476,0.290166,0.050580,3.002738
2021-12-17,3.944535,NaN,33.193954,0.266086,1.627165,0.050906,0.015967,0.289381,0.050944,3.016305
2021-12-18,3.780971,NaN,33.121494,0.266136,1.628583,0.049413,0.015473,0.288613,0.051308,3.029603
2021-12-19,3.620048,NaN,33.049389,0.266186,1.629999,0.047988,0.014996,0.287863,0.051670,3.042664
2021-12-20,3.463389,NaN,32.977608,0.266234,1.631407,0.046629,0.014534,0.287134,0.052028,3.055519
2021-12-21,3.312869,NaN,32.906136,0.266282,1.632809,0.045331,0.014087,0.286426,0.052384,3.068186
2021-12-22,3.170065,NaN,32.834972,0.266328,1.634206,0.044093,0.013655,0.285736,0.052736,3.080672
2021-12-23,3.036104,NaN,32.764099,0.266374,1.635598,0.042908,0.013238,0.285063,0.053085,3.092984
2021-12-24,2.911664,NaN,32.693512,0.266420,1.636985,0.041774,0.012835,0.284404,0.053431,3.105126
2021-12-25,2.797041,NaN,32.623207,0.266465,1.638369,0.040686,0.012447,0.283760,0.053773,3.117101
2021-12-26,2.692113,NaN,32.553162,0.266511,1.639749,0.039642,0.012072,0.283127,0.054112,3.128913
2021-12-27,2.616524,NaN,32.483383,0.266556,1.641127,0.038640,0.011711,0.282505,0.054449,3.140564
2021-12-28,2.591098,NaN,32.413857,0.266602,1.642504,0.037677,0.011361,0.281890,0.054782,3.152057
2021-12-29,2.560877,NaN,32.344578,0.266648,1.643879,0.036752,0.011023,0.281281,0.055112,3.163394
2021-12-30,2.530569,NaN,32.275543,0.266694,1.645254,0.035864,0.010696,0.280678,0.055439,3.174576
2021-12-31,2.501159,NaN,32.206749,0.266741,1.646629,0.035014,0.010381,0.280081,0.055764,3.185606
2022-01-01,2.472690,NaN,32.138203,0.266789,1.648005,0.034200,0.010077,0.279490,0.056085,3.196486

In [190]:
temp=DataFrame(temperature,index=time,columns=['temp'])
NO3=DataFrame(Nitrogen,index=time,columns=['NO3'])
var1=pd.concat([temp,NO3],axis=1)

In [49]:
# Treat time series in netCDF files
time        = gotm1d_nc.variables['time']
units       = gotm1d_nc.variables['time'].units
valid_times = num2date(time[:], units=units).tolist()

In [ ]:
for f in gotmlake:
    path=os.path.join(output_dir,f)
    d_gotmlake[f]=Dataset(path, mode='r')

In [112]:
gotm1d_file=os.path.join(output_dir, f)
gotm1d_nc=Dataset(gotm1d_file, mode='r')
d_1d={}
d_1d['time']=valid_times[:]
d_1d['temp']       = gotm1d_nc.variables['temp'][:,:,0,0]
i=0
time=valid_times[:]
temperature=[]
Nitrogen=[]

for t in time:
    temperature.append(np.mean(gotm1d_nc.variables['temp'][i,:,0,0]))
    Nitrogen.append(np.mean(gotm1d_nc.variables['abiotic_water_sNO3W'][i,:,0,0]))
    i=i+1

In [16]:
# Read in NetCDF files from output folder
fabm0d = Dataset(fabm0d_file, mode='r')
gotm1d = Dataset(gotm1d_file, mode='r')
gotmlake=Dataset(gotmlake_file, mode='r')

In [13]:
# Treat time series in netCDF files
time        = fabm0d.variables['time']
units       = fabm0d.variables['time'].units
valid_times = num2date(time[:], units=units).tolist()